@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama?styles=170364");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  /* background-color: black; */
}

/* hero sectiion starts  */

.hero-section {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0.99) 100%
  );
  color: white;
  padding-top: 60px;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-container {
  width: 70%;
  margin: 0 auto;
}

.nav-bar {
  margin-bottom: 32px;
  /* padding: 4px; */
}

.hamburger-menu {
  display: none;
  width: 24px;
  height: 24px;
}

.hamburger-menu > img {
  width: 100%;
  object-fit: cover;
}

nav ul {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

#fitness {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
  line-height: 120%;
}

#home {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  font-weight: 600;
}

#shape {
  font-family: "Miama", sans-serif;
  font-weight: 400;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 18px;
  border-radius: 39px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.right-nav li {
  padding: 8px 20px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.hero-content-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.hero-content-container h2 {
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 28px;
}

.hero-content-container p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 28px;
}

.hero-content-container button {
  padding: 16px 40px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: white;
  border-radius: 42px;
  border: 1px solid white;
}

.hero-img-container {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.join-download-div {
  display: flex;
  gap: 4px;
}

#join-button {
  background-color: rgb(230, 83, 60);
  border: transparent;
  margin-right: 14px;
}

#download-app-button {
  background-color: black;
  border: 1px solid rgb(255, 255, 255);
}

.hero-img-container button {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  padding: 18px 20px;
}

#five-hundred {
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

#three-hundred {
  color: rgb(250, 250, 249);
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.orange {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
  position: relative;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 18px solid white;
  position: absolute;
  left: 22%;
  top: 14%;
  transform: scale(0.75);
}

.image-button-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-button-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#image-button-1 {
  position: absolute;
  top: 20%;
  right: -20%;
}

#image-button-2 {
  position: absolute;
  top: 75%;
  left: -10%;
}

@media screen and (max-width: 576px) {
  .right-nav {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
  .hero-content-container {
    display: block;
  }
  .hero-content-container button {
    padding: 16px;
  }
  #image-button-1 {
    top: 5%;
    right: -56px;
  }
  #image-button-2 {
    top: 46%;
    left: -4%;
  }
  .join-download-div {
    justify-content: space-between;
  }
  .hero-img-container {
    display: block;
    width: 100%;
    margin-bottom: -5px;
  }
  .hero-img-container img {
    width: 100%;
    object-fit: cover;
  }
}

/* hero section ends  */

/* habit section starts  */

.section-container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(15, 10, 10);
}

.habit-section {
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
}

.habit-section h1 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  text-align: center;
  margin-bottom: 12px;
}

.habit-section p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}
.card div {
  text-align: center;
}
.cards .card div img {
  border-radius: 50%;
}

.cards .card h4 {
  margin: 6px 0px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
}

.cards .card p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .habit-section {
    padding-top: 5px;
  }
  .habit-section h1 {
    font-size: 32px;
    margin-bottom: 14px;
  }
  .habit-section p {
    font-size: 16px;
  }
  .cards {
    flex-direction: column;
  }
}

.run-easily-container {
  width: 70%;
  margin: 0 auto;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 40px 54px;
  display: flex;
  gap: 20%;
  justify-content: space-between;
}

.run-easily-content {
  width: 40%;
}

.run-easily-container h1 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin: 14px 0px;
}

.run-easily-container p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 14px 0px;
}

.run-easily-container button,
.calculate-chart button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  padding: 16px 40px;
}

.r-e-c-image {
  width: 40%;
}

.r-e-c-image img {
  width: 100%;
  height: 375px;
  object-fit: none;
  object-position: 67% 33%;
  border-radius: 18px;
}

@media screen and (max-width: 576px) {
  .run-easily-container {
    flex-direction: column;
    gap: 24px;
  }
  .run-easily-content,
  .run-easily-container button,
  .r-e-c-image {
    width: 100%;
  }
  .run-easily-container button {
    margin-top: 24px;
  }
  .r-e-c-image img {
    height: 170px;
    object-fit: cover;
  }
}

/* habit section ends  */

/* bmi section starts */
.bmi-article {
  padding: 1px;
  width: 50%;
  margin: 0 auto;
}

.bmi-article h3 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin: 32px 0px;
}

.bmi-article p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 32px 0px;
}

.chart-calculation-container {
  margin: 88px 0px 0px 0px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-around;
  padding: 1px;
}

.chart-calculation-container h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
  margin: 52px 0 14px 0;
}

.bmi-table {
  border-collapse: collapse;
  margin: 52px 0;
}

.bmi-table td,
.bmi-table th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  text-align: left;
}

.bmi-table thead th {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}

.bmi-table tbody td {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}

.calculate-chart p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 14px 0px;
}

.bmi-form {
  margin: 40px 0;
}

.bmi-form input,
.bmi-form select {
  padding: 12px 40px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  flex: 1 1 0;
  margin: 5px 0;
}

.height-weight-input,
.age-sex-input {
  display: flex;
  gap: 12px;
}

#factor {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .bmi-article {
    width: auto;
    padding: 16px;
  }
  .bmi-article h3 {
    font-size: 32px;
    margin: 32px 0px;
  }
  .bmi-form {
    margin: 24px 0;
  }
  .chart-calculation-container {
    flex-direction: column;
    margin: 24px 0 0 0;
    padding: 16px;
  }
  .bmi-chart h3 {
    font-size: 16px;
  }
  .bmi-table {
    margin: 16px 0;
    width: 100%;
  }

  .chart-calculation-container h3 {
    margin-top: 14px;
  }
  .height-weight-input > *,
  .age-sex-input > * {
    width: calc(50% - 12px);
  }
}

/* bmi chart ends here  */
/* meet team section starts  */
.meet-article h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  padding-top: 40px;
  text-align: center;
}

.meet-article p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 14px 0;
  text-align: center;
}

.trainers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  width: 70%;
  margin: 0 auto;
}

.trainer-card {
  position: relative;
}

.trainer-card .image-container {
  height: 400px;
}

.trainer-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.trainer-card .trainer-details {
  position: absolute;
  top: 80%;
  left: 5%;
  color: white;
}

.trainer-details p {
  color: rgba(255, 255, 255, 0.5);
}

#img-4 {
  object-position: 65% 10%;
}

#img-6 {
  object-position: 30% 0%;
}

@media screen and (max-width: 576px) {
  .meet-article {
    width: 70%;
    margin: 0 auto;
  }
  .meet-article h3 {
    font-size: 32px;
  }
  .meet-article p {
    font-size: 14px;
  }
  .trainers {
    grid-template-columns: 1fr;
  }
}

/* meet team section ends  */

/* footer starts  */
.footer {
  background-color: rgb(34, 34, 34);
  color: white;
  padding-top: 66px;
}

.footer-container {
  width: 70%;
  display: flex;
  margin: 0 auto;
  gap: 16px;
}

.footer-container > * {
  flex: 1 1 0;
}

.first-footer {
  flex: 2 1 0;
}

.first-footer h3 {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 70px;
  font-weight: 800;
  line-height: 120%;
  margin: 20px 0px;
  font-style: italic;
}

.first-footer p,
.footer li {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.second-footer h3,
.third-footer h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  margin: 20px 0px;
}

.footer li {
  list-style-type: none;
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 20px;
}

hr {
  width: 70%;
  margin: 79px auto 36px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.end-credit {
  text-align: center;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 576px) {
  .footer-container {
    display: block;
  }
  hr {
    width: 100%;
  }
}
